/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-general-content-block {

  h2 {
    font-size:3em;
    margin:0;
  }

  p {
    font-size:1.4em;
    line-height:1.4em;
  }

  .theme-general-content {
    padding:0px 0px 0px 0px;

    h2 {
      font-family:$primary-font;
      text-transform:uppercase !important;
    }

    p {
      color:#6F6F6F !important;
      font-weight:300;
    }

    .theme-container {
      max-width:1200px;
      margin:0 auto;
    }
  }
}

// Helper Classes
.align-left {
  text-align: center;
  h2 {
    text-align:left;
  }

  p {
    text-align:left;
  }

  .theme-btn {
      text-align:left;
  }
}

.align-center {
  text-align: center;
  h2 {
    text-align:center;
  }

  p {
    text-align:center;
  }

  .theme-btn {
    margin:0px auto !important;
    text-align:center !important;
  }
}

.align-right {
  text-align: center;
  h2 {
    text-align:right;
  }

  p {
    text-align:right;
  }

  .theme-btn {
    margin:0px;
    text-align:right;
  }

}
