/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */



.wp-block-cgb-block-hero-block  {

  h2 {
    font-size:3em;
    margin:0;
  }

  .theme-hero {
    @include theme-flex;
    flex-direction: row nowrap;
    color:$black;
    background:$gray;
    background-size:cover !important;
    height:100vh;
    justify-content:center;
    align-items:center;

    @media screen and (max-width: 320px) {
      padding:200px 0px 200px 0px;
      height:100vh;
    }

    svg {

      width:30px;
      height:auto;
      position: absolute;
      left: 50%;
      bottom: 5%;

      transform: translateX(-50%);

      animation:1s linear 1s infinite alternate heroArrow;

      .cls-1 {
        fill:#58c9e8;
      }

    }

    h2 {
      font-family:$primary-font;
      font-weight:800;
      text-transform:uppercase;
      font-size:52px;

      @media screen and (max-width: 500px) {
        font-size:36px;
      }

      @media screen and (max-width: 320px) {
        font-size:24px;
      }

      .theme-hero-subtitle {
        display:inline-block;
        font-size:0.8em;
        font-weight:400;
        width:100%;
        text-shadow: 1px 4px 5px #000000;
      }

      .theme-hero-title {
        width:100%;
        display:inline-block;
        text-shadow: 1px 4px 5px #000000;
      }
    }

    .theme-hero-container {
      max-width:1200px;
      margin:0 auto;
    }
  }
}
